body {
    background-color: #fcfcfc;
    font-family: 'Crimson Pro', serif;
    font-size: 0.85rem;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: grey;
  }

.nav-link {
    color: black;
    text-decoration: none;
    font-size: 0.7rem;
}

.nav-link:hover {
    color: grey;
}

#main-header {
    font-size: 1.4rem;
}

.nav-item {
    font-size: 0.6rem;
}

.social-icon {
    width: 1.25rem;
    height: 1.25rem;
}

#copyright {
    font-size: 0.7rem;
}

.home-page-image {
    max-height: 650px;
    max-width: auto;
}